* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	scroll-behavior: smooth;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	border-bottom: 1px solid rgba(255, 255, 255, 0.411);
}

.container {
	width: 75%;
	margin: 0 auto;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	padding: 26px 0;
}

.header__logo {
	color: white;
	font-size: 32px;
	font-weight: 600;
}

.header__logo span {
	text-transform: none;
}

.nav li {
	display: inline-block;
	margin-right: 52px;
}

.nav .active a {
	color: #e62b4a;
}

.nav li:hover a {
	color: #e62b4a;
}

.nav li a {
	color: white;
	font-size: 17px;
	font-weight: 400;
	text-decoration: none;
	transition: all 0.3s;
}

.carousel {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../image-video/home_slider.jpg') no-repeat center / cover;
}

.carousel__content {
	color: white;
	text-align: center;
}

.carousel__content p {
	font-size: 24px;
}

.carousel__content span {
	font-size: 76px;
	font-weight: 600;
	line-height: 1.2;
}

.box-btn {
	margin-top: 28px;
	text-align: center;
}

.read__more-btn {
	color: white;
	width: 150px;
	height: 50px;
	border: none;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #e62b4a;
	cursor: pointer;
}

.arrow__icon {
	margin-top: 60px;
	font-size: 36px;
	font-weight: 500;
	animation: animation__arrow 1s infinite;
}

@keyframes animation__arrow {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(50px);
	}
}

/* Title__primary start*/

.title__primary {
	text-align: center;
}

.title__primary-header {
	color: #e62b4a;
	font-size: 14px;
	font-weight: 300;
}

.title__primary-title {
	color: white;
	font-size: 50px;
}

.title__primary-desc {
	color: #888884;
	font-weight: 700;
	text-transform: none;
	letter-spacing: 1px;
	margin-top: 20px;
}

/* Title__primary end*/

.service {
	height: 700px;
	padding: 92px 0;
	background-color: #000;
}

.service__list {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
	list-style-type: none;
}

.service__list .slick-arrow {
	visibility: hidden;
}

.service__item {
	position: relative;
	width: 200px;
	height: 230px;
	margin: 8px;
	background-color: #fff;
	cursor: pointer;
}

.service__item::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 0%;
	width: 4px;
	background: #e62b4a;
	transition: all 0.3s;
}

.service__item:hover::after {
	height: 100%;
}

.service__box {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	color: #888888;
}

.service__box i {
	width: 100%;
	font-size: 44px;
}

.service__box span {
	font-size: 14px;
	letter-spacing: normal;
	line-height: 1.4;
}

.slick-dots li button:before {
	color: #ffffff;
	font-size: 14px;
}

.slick-dots li.slick-active button:before {
  color: #e62b4a;
}

.blog {
	padding: 100px 0;
	background-color: #f3f3f3;
}

.blog .title__primary-header {
	color: #888888;
}

.blog .title__primary-title {
	color: #000;
}

.blog .title__primary-desc {
	letter-spacing: 0;
}

.blog__list {
	margin-top: 52px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

.blog__item {
	position: relative;
}

/* Hover start */
.blog__item:hover .blog__overlay {
	width: 100%;
	height: 100%;
	opacity: 1;
}

.blog__item:hover .overlay__icon-search {
	top: 26px;
}

.blog__item:hover .overlay__logo {
	bottom: 20px;
}

/* Hover end */

.blog__item-1 {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}

.blog__item-10 {
	grid-column: 3 / span 2;
	grid-row: 3 / span 2;
}

.blog__list li {
	list-style: none;
}

.blog__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(50%) contrast(50%);
}

.blog__overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(230, 43, 74, 0.6);
}

.blog__overlay a {
	color: #000;
}

.overlay__icon-search:hover {
	color: white;
	background-color: #000;
}

.overlay__icon-search {
	position: absolute;
	top: 50px;
	right: 26px;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
}

.overlay__logo {
	position: absolute;
	left: 26px;
	bottom: 0;
}

.blog__overlay,
.overlay__icon-search,
.overlay__logo {
	transition: all 0.9s;
}

.overlay__logo p {
	color: #d0c7c8;
	font-size: 16px;
}

.overlay__logo span {
	color: white;
	font-size: 20px;
	font-weight: 500;
}

.number {
	padding: 100px 0;
	background-color: #000;
}

.number__list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style: none;
}

.number__item {
	text-align: center;
}

.number__item span {
	color: white;
	font-size: 60px;
	font-weight: 300;
}
.number__item p {
	color: #d0c7c8;
	font-size: 20px;
}

.experience {
	padding: 100px 0;
	background: url('../image-video/bussiness_img_1.jpg') center / cover no-repeat
		fixed;
}

.experience__video {
	width: 100%;
	margin-top: 32px;
}

.contact .title__primary-title {
	color: #000;
}

.contact .title__primary-desc {
	font-weight: 400;
	letter-spacing: 0;
}

.contact {
	padding: 100px 0;
}

.contact__container {
	display: flex;
	margin-top: 30px;
}

.contact__map {
	width: 60%;
	height: 100%;
}

.contact__form {
	display: flex;
	padding: 0 12px;
	flex-direction: column;
	width: 40%;
	height: 100%;
}

.contact__map iframe {
	width: 100%;
}

.username,
.email__address,
.contact__question {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	padding: 12px;
	margin-bottom: 28px;
	text-transform: none;
}

.contact__submit {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	color: white;
	padding: 20px 30px;
	background-color: #000;
	cursor: pointer;
	border: none;
	transition: all 0.5s;
}

.contact__submit:hover {
	background: #e62b4a;
}

footer {
	background: black;
}

.footer {
	color: white;
	padding: 100px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copy__right span {
	font-size: 14px;
}

.social {
	display: flex;
	justify-content: space-between;
}

.social li {
	margin-right: 6px;
	list-style: none;
}

.social li a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	width: 54px;
	height: 54px;
	background: #333333;
	border-radius: 50%;
	text-decoration: none;
	transition: all 0.5s;
}

.social li a:hover {
	background: #e62b4a;
}

.button__on__top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	border-radius: 4px;
	border: none;
	background: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.button__on__top i {
	font-size: 18px;
	color: white;
	transition: all 2s;
}
